In [13]:
import pandas as pd
from pathlib import Path

In [14]:
dir_path = Path.cwd().parents[2]

data_folder = dir_path.joinpath("data/ibis/raw_manually_sorted")

df_path = data_folder.joinpath("Ceramics.xlsx")

export_path = dir_path.joinpath("data/ibis/interim/Ceramics.csv")

In [15]:
df = pd.read_excel(df_path)
df

,Company Name,AddCode,Add1,Add2,City,Pincode,Taluk,District,State,Tel,Fax,Email,Names,Capacity,Unit,Upcoming Capacity,Units,Captive Power Plant Capacity
0,A One Ceramic Pvt Ltd,Plant,"8-A National Highway,","Lakhdhirpur Road, Behind Savio Ceramic",Morbi,363642.0,NaN,Rajkot,Gujarat,02822-294 792 \ 98253 66773,NaN,aone.ceramics@yahoo.com,NaN,NaN,NaN,NaN,NaN,NaN
1,Aajveto Manufacturing Co Pvt Ltd,Plant,Lakhdhiranagar,Navagam Road,Morbi,363641.0,NaN,Rajkot,Gujarat,02822 28 4777 / 78,NaN,aajvetomfg@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN
2,Aarcot Ceramic Pvt Ltd,Plant,"At. Rangpar Village , Morbi","Jetpar Road,",Morbi,363642.0,NaN,Rajkot,Gujarat,Tel: 0-98795 83540 / 98255 84540,NaN,aarcotceramic@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN
3,ABC Ceramics,Plant,"Morbi - Jetpar Road,","At. Rangpar,",Morbi,363642.0,NaN,Rajkot,Gujarat,99782 78885/9723937777 / 98254 12111 /99786 32008,NaN,info@abcceramic.in,NaN,NaN,NaN,NaN,NaN,NaN
4,Accord Ceramics Pvt Ltd,Plant,"8-A, National Highway","Old Ghuntu Road,",Morbi,363642.0,NaN,Rajkot,Gujarat,0-98254 44744 /0-97278 74500,NaN,info@accordceramics.com,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640,Zalawad Tiles Works,Plant,"Dharodiya,",Thangadh,Thangadh,363530.0,NaN,Surendra Nagar,Gujarat,02751-220205/ 9825506464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
641,Zarko Granito Pvt Ltd,Plant,"Talaviya Sanala Road,",NaN,Morbi,363642.0,NaN,Rajkot,Gujarat,09512024402 / 9512024403,NaN,info@zarkogranito.com,NaN,NaN,NaN,NaN,NaN,NaN
642,Zealtop Granito Pvt Ltd,Plant,Old Ghuntu Road,NaN,Morbi,363642.0,NaN,Rajkot,Gujarat,02822-241316,NaN,info@zealtop.com,NaN,NaN,NaN,NaN,NaN,NaN
643,Zed Vitrified Pvt Ltd,Plant,"8-A,National Highway,","Opp. Lalpar Power House Lalpar,",Morbi,363642.0,NaN,Rajkot,Gujarat,98252 24926,NaN,info@zedvitrified.com,NaN,NaN,NaN,NaN,NaN,NaN
644,Zibon Ceramic Pvt Ltd,Plant,"At Rangpar,",Jetpar Pipali Road,Morbi,363641.0,NaN,Rajkot,Gujarat,0-97125 19000,NaN,info@zibon.in,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df.columns

Index(['Company Name', 'AddCode', 'Add1', 'Add2', 'City', 'Pincode', 'Taluk',
       'District', 'State', 'Tel', 'Fax', 'Email', 'Names', 'Capacity', 'Unit',
       'Upcoming Capacity', 'Units', 'Captive Power Plant Capacity'],
      dtype='object')

### Filtering Plants

In [17]:
df['AddCode'].unique()

array(['Plant', 'Corp Office', 'Head Office'], dtype=object)

In [18]:
df = df[df['AddCode']=='Plant']
df.drop('AddCode',axis=1, inplace=True)

/tmp/ipykernel_56921/1743636810.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('AddCode',axis=1, inplace=True)

### Check Duplicates

In [19]:
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [Company Name, Add1, Add2, City, Pincode, Taluk, District, State, Tel, Fax, Email, Names, Capacity, Unit, Upcoming Capacity, Units, Captive Power Plant Capacity]
Index: []

In [20]:
isid_cols = ['Company Name', 'Pincode', 'Add1', 'Add2']


df[df.duplicated(isid_cols,keep=False)]

Empty DataFrame
Columns: [Company Name, Add1, Add2, City, Pincode, Taluk, District, State, Tel, Fax, Email, Names, Capacity, Unit, Upcoming Capacity, Units, Captive Power Plant Capacity]
Index: []

### Cleaning Column names and Columns

In [21]:
cols = df.columns

cols = [x.replace(" ", "_").lower() for x in cols]

cols

['company_name',
 'add1',
 'add2',
 'city',
 'pincode',
 'taluk',
 'district',
 'state',
 'tel',
 'fax',
 'email',
 'names',
 'capacity',
 'unit',
 'upcoming_capacity',
 'units',
 'captive_power_plant_capacity']

In [22]:
df.columns = cols

df.rename(columns={
    "units":"upcoming_capacity_unit"
}, inplace=True)

/tmp/ipykernel_56921/2040414405.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={

In [23]:
df.drop(['tel',
 'fax',
 'email',
 'names',
 'captive_power_plant_capacity'], axis=1, inplace=True)

/tmp/ipykernel_56921/3798550352.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(['tel',

In [24]:
df

,company_name,add1,add2,city,pincode,taluk,district,state,capacity,unit,upcoming_capacity,upcoming_capacity_unit
0,A One Ceramic Pvt Ltd,"8-A National Highway,","Lakhdhirpur Road, Behind Savio Ceramic",Morbi,363642.0,NaN,Rajkot,Gujarat,NaN,NaN,NaN,NaN
1,Aajveto Manufacturing Co Pvt Ltd,Lakhdhiranagar,Navagam Road,Morbi,363641.0,NaN,Rajkot,Gujarat,NaN,NaN,NaN,NaN
2,Aarcot Ceramic Pvt Ltd,"At. Rangpar Village , Morbi","Jetpar Road,",Morbi,363642.0,NaN,Rajkot,Gujarat,NaN,NaN,NaN,NaN
3,ABC Ceramics,"Morbi - Jetpar Road,","At. Rangpar,",Morbi,363642.0,NaN,Rajkot,Gujarat,NaN,NaN,NaN,NaN
4,Accord Ceramics Pvt Ltd,"8-A, National Highway","Old Ghuntu Road,",Morbi,363642.0,NaN,Rajkot,Gujarat,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
640,Zalawad Tiles Works,"Dharodiya,",Thangadh,Thangadh,363530.0,NaN,Surendra Nagar,Gujarat,NaN,NaN,NaN,NaN
641,Zarko Granito Pvt Ltd,"Talaviya Sanala Road,",NaN,Morbi,363642.0,NaN,Rajkot,Gujarat,NaN,NaN,NaN,NaN
642,Zealtop Granito Pvt Ltd,Old Ghuntu Road,NaN,Morbi,363642.0,NaN,Rajkot,Gujarat,NaN,NaN,NaN,NaN
643,Zed Vitrified Pvt Ltd,"8-A,National Highway,","Opp. Lalpar Power House Lalpar,",Morbi,363642.0,NaN,Rajkot,Gujarat,NaN,NaN,NaN,NaN
644,Zibon Ceramic Pvt Ltd,"At Rangpar,",Jetpar Pipali Road,Morbi,363641.0,NaN,Rajkot,Gujarat,NaN,NaN,NaN,NaN

In [25]:
df.to_csv(export_path, index=False)